<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://dubbo.apache.org/schema/dubbo
            http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="provider-test"/>
    <!-- 集群配置 -->
    <!--<dubbo:registry address="zookeeper://10.20.153.10:2181?backup=10.20.153.11:2181,10.20.153.12:2181" />-->
    <!-- 配置注册中心，这里使用zookeeper -->
    <!--<dubbo:registry protocol="zookeeper" address="10.20.153.10:2181" />-->
    <dubbo:registry protocol="zookeeper" address="zookeeper://192.168.75.128:2181" timeout="30000"/>

    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="23001" threadpool="fixed" threads="100" buffer="8192" accepts="1000" payload="88388608" />

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.yang.dubbo.api.service.OrderService" ref="orderService"/>

    <bean id="orderService" class="com.yang.dubbo.provider.OrderServiceImpl"/>

</beans>